body {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}
h1, h2 {
	color: #6a8e6b;
	font-weight: normal;
}
h1 {
	font-size: 28px;
	line-height: 30px;
}
h2 {
	font-size: 18px;
	border-top: 1px solid #ddd;
    padding-top: 20px;
}
p {
	margin-bottom: 22px;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
a {
	color: #cf690b;
	text-decoration: none;
}
a:visited {
	color: #666;
}
a:hover {
	color: #ffcc00;
	text-decoration: underline;
}
header {
	margin-bottom: 10px;
	border-bottom: 1px solid #4a5f04;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
nav {
	margin-bottom: 10px;
	text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	display: inline;
}
nav a {
	font-size: 13px;
	color: #666;
	text-transform: uppercase;
	padding: 10px;
	display: inline-block;
}
nav a:hover {
	color: #13aad7;
	text-decoration: none;
}
main {
	width: 90%;
	max-width: 800px;
	display: block;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
footer {
	width: 90%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	color: #999;
	font-size: 12px;
	text-transform: uppercase;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}
.img-left {
	float: left;
	margin-right: 15px;
}
.img-right {
	float: right;
	margin-left: 15px;
}
.quicklinks {
	font-family: Verdana, sans-serif;
	font-size: 12px;
}